<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <%= bootstrap_form_for(@room, html: { multipart: true }) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :description %>

    <div id="images">
      <%= f.fields_for :images do |image| %>
        <%= render 'image_fields', f: image %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add image', f, :images %>
      </div>
    </div>

    <div class="geocomplete">
      <%= label_tag :user_location, 'Enter your city' %>
      <br>
      <%= text_field_tag :user_location %>

      <%= f.hidden_field :latitude, data: { geo: 'lat' } %>
      <%= f.hidden_field :longitude, data: { geo: 'lng' } %>
      <%= f.text_field :city, data: { geo: 'locality' } %>
      <%= f.text_field :country, data: { geo: 'country' } %>

      <div id="geocomplete-map"></div>
    </div>

    <%= f.submit %>

    <% end %>

  </div>
</div>


<!-- load map on edit view -->
<script>
  $(document).on('turbolinks:load', function() {
    <% if @room.latitude %>
      $('#geocomplete-map').googleMap({
        zoom: 10,
        coords: [<%= @room.latitude %>, <%= @room.longitude %>]
      });
    <% end %>
  })
</script>
