<%= image_tag(@room.images.last.file.url(:medium)) %>
<div class='col-md-12'>
    <div class='col-md-8'>
        <h1><%= @room.title %></h1>
        <p><%= @room.city %>, <%= @room.country %> - <%= pluralize(@room.reviews.count,'review') %> - user img</p>
        <p>Private - guest# - bed#</p>
        <p><%= @room.description %></p>
        <p>view</p>
        <p>map</p>
    </div>
    <div class='col-md-2'>
        <h1>price</h1>
        <p>favorite</p>
    </div>
    <div class='col-md-2'>
        </br>
        <%= link_to "Update info", edit_room_path(@room), class: 'btn btn-info' %>
        <%= link_to "Delete room", @room ,method: :delete , class: 'btn btn-danger' %>
    </div>
</div>
<div class='col-md-12'>
    <h2>Reviews</h2>
    <%= form_for [@room, @new_review] do |f| %>
        <div class="form-group">
            <%= f.label :body, class: 'sr-only' %>
            <%= f.text_field :body, class: 'form-control', placeholder: "Enter a new review" %>
        </div>
        <%= f.submit "Submit Review", class: 'btn btn-default pull-right' %>
    <% end %>
    <div class='col-md-12 review'>
        <%= render @room.reviews %>
    </div>
</div>
