<div id='carousel-example-generic' class='carousel slide' data-ride="carousel">
    <ol class='carousel-indicators'>
        <% @room.images.each_with_index do |img, idx| %>
           <li data-target='#carousel-example-generic' data-slide-to=<%= idx %> class=<%= 'active' if idx == 0 %>></li>
        <% end %>
    </ol>
    <div class='carousel-inner' role='listbox'>
        <% @room.images.each_with_index do |img, idx| %>
            <div class="item <%= 'active' if idx == 0 %>">
              <%= image_tag(img.file.url(:medium), alt: img.file.instance.file_file_name) %>
            </div>
        <% end %>
    </div>
    <a class='left carousel-control' href='#carousel-example-generic' role='button' data-slide='prev'>
        <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
        <span class='sr-only'>Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class='col-md-12'>
    <div class='col-md-8'>
        <h1><%= @room.title %></h1>
        <p><%= @room.city %>, <%= @room.country %> - <%= pluralize(@room.reviews.count,'review') %> - user img</p>
        <p>Private - guest# - bed#</p>
        <p><%= @room.description %></p>
        <p>view</p>
        <p>map</p>
    </div>
    <div class='col-md-2'>
        <h1>price</h1>
        <p>favorite</p>
    </div>
    <% if @room.user_id == current_user.id %>
        <div class='col-md-2'>
            </br>
            <%= link_to "Update info", edit_room_path(@room), class: 'btn btn-info' %>
            <%= link_to "Delete room", @room ,method: :delete , class: 'btn btn-danger' %>
        </div>
    <% end %>
</div>
<div class='col-md-12'>
    <h2>Reviews</h2>
    <%= form_for [@room, @new_review] do |f| %>
        <div class="form-group">
            <%= f.label :body, class: 'sr-only' %>
            <%= f.text_field :body, class: 'form-control', placeholder: "Enter a new review" %>
        </div>
        <%= f.submit "Submit Review", class: 'btn btn-default pull-right' %>
    <% end %>
    <div class='col-md-12 review'>
        <%= render @room.reviews %>
    </div>
</div>
