<!DOCTYPE html>
<html>
<head>
  <title>Airbnc</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places"></script>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5/jquery.googlemap.min.js' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class='col-md-6'>
        <%= link_to image_tag("http://placehold.it/70x70?text=A"), root_path, id: "logo" %>
      </div>
      <nav>
        <div class='col-md-6'>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to 'Become a Host', '#' %></li>
            <% if user_signed_in? %>
              <li><%= link_to user_show_path(current_user.id) do %>
                <%= image_tag current_user.gravatar_url, id: 'userimg' %>
                <% end %>
              </li>
              <li><%= link_to current_user.first_name, edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
